body{
  background-color: #191919;
}
.App {
  text-align: center;
}
.input-group{
  width: 70%;
}
.form-control{
  border-radius: 20px;
  background-color: #191919;
  margin: 2px;
}
.btn{
  background-color: #21DBAA;
  border-radius: 20px;
  border: solid 1px #21DBAA;
  padding: 0 20px;
}
.btn:hover{
  background-color: #21DBAA;
  border-radius: 20px;
  border: solid 1px #21DBAA;
  padding: 0 20px;
}
.card{
  max-width: 70%;
}
